---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=0ypnvdWpuoyHNt6NUMwfFtLCpZWVdvAP&location=%7B%22location%22=%3E%22Denver,CO%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 00:50:29 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"Denver,CO\"}"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p3/1485314","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=0ypnvdWpuoyHNt6NUMwfFtLCpZWVdvAP&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1224867222"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Osage","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65536","geocodeQualityCode":"B3CCA","geo[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=afe7a2d0cef5ac1ba9162da3cf153261&exclude=minutely&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-14400,"current":{"dt":1664239830,"sunrise":1664192084,"sunset":1664235296,"temp":59.43,"feels_like":57.67,"pressure":1015,"humidity":55,"dew_point":43.29,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":8.05,"wind_deg":300,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1664236800,"temp":59.61,"feels_like":57.72,"pressure":1015,"humidity":52,"dew_point":41.99,"uvi":0,"clouds":50,"visibility":10000,"wind_speed":9.04,"wind_deg":282,"wind_gust":22.1,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1664240400,"temp":59.43,"feels_like":57.67,"pressure":1015,"humidity":55,"dew_point":43.29,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":8.14,"wind_deg":273,"wind_gust":23.11,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1664244000,"temp":58.59,"feels_like":56.68,"pressure":1015,"humidity":54,"dew_point":42.01,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":7.45,"wind_deg":277,"wind_gust":24.43,"weather":[{"id":803,[...]
