---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=0ypnvdWpuoyHNt6NUMwfFtLCpZWVdvAP&location=%7B%22location%22=%3E%22Denver,CO%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 03:46:28 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"Denver,CO\"}"},"locations":[{"street":"Denver
        Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Louisville-Jefferson
        County","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"KY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"40258","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p3/1485314","unknownInput":"","type":"s","latLng":{"lat":38.17368,"lng":-85.8849},"displayLatLng":{"lat":38.17368,"lng":-85.8849},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=0ypnvdWpuoyHNt6NUMwfFtLCpZWVdvAP&type=map&size=225,160&locations=38.17368,-85.8849|marker-sm-50318A-1&scalebar=true&zoom=15&rand=489518778"},{"street":"Denver
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Osage","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65536","geocodeQualityCode":"B3CCA","geoc[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=76f2be677cab667ed8c6132a7e05e6f7&exclude=minutely&lat=38.17368&lon=-85.8849&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","timezone_offset":-14400,"current":{"dt":1664163989,"sunrise":1664105632,"sunset":1664148991,"temp":16.35,"feels_like":15.95,"pressure":1012,"humidity":73,"dew_point":11.51,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":3.09,"wind_deg":260,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1664161200,"temp":16.2,"feels_like":15.73,"pressure":1012,"humidity":71,"dew_point":10.94,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":2.93,"wind_deg":279,"wind_gust":9.04,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1664164800,"temp":16.35,"feels_like":15.95,"pressure":1012,"humidity":73,"dew_point":11.51,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":2.85,"wind_deg":265,"wind_gust":7.96,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1664168400,"temp":15.93,"feels_like":15.46,"pressure":1012,"humidity":72,"dew_point":10.89,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":2.96,"wind_deg":263,"wind_gust":9.12,"weather":[{"id":801,"main":"[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=76f2be677cab667ed8c6132a7e05e6f7&exclude=minutely&lat=38.17368&lon=-85.8849&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.1737,"lon":-85.8849,"timezone":"America/Kentucky/Louisville","time[...]
[...]
